<h1>Sign in Example</h1>

<form>
  <div>
    <label for='email'>Email Address</label>
    {{input id='email' value=model.email}}
  </div>

  <div>
    <label for='password'>Password</label>
    {{input id='password' value=model.password type='password'}}
  </div>

  <button type='submit'>Submit</button>
</form>
