<h1>Form Examples</h1>
<p>
  The goal of this project is to enumerate a list of form scenarios in order
  to enumerate the issues a form library would ideally solve.
</p>

<ul>
  <li>{{#link-to 'examples.sign-in'}}Sign In{{/link-to}}</li>
</ul>
